body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header{
    background: linear-gradient(#7cda30,#d7df7f);
    color: rgb(241, 18, 96);
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
}
#thankyou-content{
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 50px 5px;
    box-shadow: 0 0 10px rgba(192, 16, 16, 0.888);
    border-radius: 20px; 
}
#thankyou-content p{
    font-size: 2rem;
text-align: center;
}
#thankyou-content p:hover{
    color: rgb(241, 18, 96);
}
header:hover{
color: black;
background: linear-gradient(360deg,#7cda30,#d7df7f);
}
